* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Popins, sans-serif;
}
.post-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}
.post-item {
    width: 400px;
    padding: 40px;
    background-color: #e3e3e3;
    border-radius: 24px;
    margin-bottom: 20px;
}

.post-title {
    font-size: 24px;
    font-weight: 600;
    color: #333;
    margin-bottom: 32px;
}