.slider{
    position: relative;
    display: flex;
    flex-direction: row;
    /*width: 100vh;*/
    /*height: 100vh;*/
}
.slide {
    background-repeat: no-repeat;
    width: 100vw;
}

.active {
    display: block;
}
.slider-image {
    position: absolute;
    width: 100vw;
    height: 100%;
    object-fit: cover;
}
.content {
   position: absolute;
}

.next {
    position: absolute;
    z-index: 1212;
    right: 0;

}

.prev {
    position: absolute;
    z-index: 1212;
    left: 0;
}